extend index
block content
	div
		h3 Create Your Own Category
		a(href="/create")
			button(class="btn btn-warning") Create
		hr
		h2 Category
		div(id="category")
			ul
				li 
					h4 Categories will come here
include footer