extend index2
block content
	div
		h3 Create Your Own Category
		a(href="/create")
			button(class="btn btn-warning") Create
		hr
		h2 Category
		div(id="category")
			ul
				li
					each item in items
							h2(id="title")
								a(href="/links/"+item.title,class="btn btn-warning")
									=item.title
							h4(id="description")
								=item.description

			//a(href="/category/1",id="nex")
			//	button(class="btn btn-warning",id="next") Next

