extends index2
block content
	form(action="/links",method="post")
		input(name="search",class="form-control",id="search",placeholder="What do you want to learn today?")
		input(class="btn-block",type='submit',id='log2',value='Learn')