doctype html
html
	head
	script(type="text/javascript",src='/javascripts/jquery-2.0.3.min.js')
	script(type="text/javascript",src='/javascripts/reg.js')
	script(type="text/javascript",src='/javascripts/nav.js')
	link(type="text/css",rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(type="text/css",rel='stylesheet', href='/stylesheets/style.css')
	title=title
	body
		navbar
			ul(class="nav nav-pills")
				li(id="home") 
					a(href="/") Home
				li(id="login")
					a(href="/login") Login
				li(id="category")
					a(href="/category") Category

		div(id="container")
			block content
