extends index
block content
	form(method="POST",action='/login',name='login')
		input(class="form-control",type='text',name='user',placeholder="Username")
		input(class="form-control",type='password',name='pass',placeholder="Password")
		label(class="checkbox")
			input(type="checkbox")
			p Remember me
		input(class="btn btn-lg btn-primary btn-block",type='submit',value='login')
		br
		p Don't have an account?
		a(href="/register") Register
