body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url("/images/gplaypattern.png");*/
  background-color: white;
}

a {
  color: #111;
  font-size: 20px;
}
a:hover {
	color:#f0ad4e;
	background-color: #111!important;
	text-decoration:none;
}
#container{
	position: absolute;
	left: 20%;
	width: 50%;
	text-align: center;
}
ul{
	list-style: none;
}
#logout{
	float:right;
	margin:0px;
	padding: 0px;
}
#radio{
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
}
#mess{
	color: orange;
	font-size: 17px;
}
#description{
	background-color: #111;
	padding: 20px;
	color: #f0ad4e;
	border-radius: 20px;
	border-bottom: 10px solid;
	margin-bottom: 40px;
}

#title{
	color: #111;
	background-color: #f0ad4e;
	border-radius: 20px;
	padding:0px;	
	border-bottom: 10px solid;
}
#title>a{
	color: #111;
}
#title>a:hover{
	color: #f0ad4e;
	border-radius: 5px;
	background-color: none;
}
input{
	margin-bottom: 3px;
}